* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Poppins", sans-serif;
}

header {
	display: flex;
	height: 10vh;
	background: lightblue;
	width: 100%;
	margin: auto;
	align-items: center;
}

.big-website-name {
	margin: 10%;
	font-size: 4vw;
	color: rgba(0, 0, 0, 0.5);
}

.logo-container,
.nav-links {
	display: flex;
}

.logo-container {
	padding-left: 1;
	color: black;
	flex: 1;
}

nav {
	flex: 2;
}

.nav-links {
	justify-content: space-around;
	list-style: none;
}

.nav-link {
	color: #5f5f79;
	font-size: 1.8rem;
	text-decoration: none;
	padding: 12px;
	cursor: pointer;
}

.nav-link:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

/* ========================================================================== */
/*  MAIN
/* ========================================================================== */

main {
	display: flex;
	width: 100%;
	height: 75vh;

	position: absolute;
	margin: auto;
	align-items: center;
	justify-content: center;
	background: url(img/UBC.jpg);
}

.card {
	width: 45vh;
	height: 50vh;
	margin: 5vw;
	perspective: 1000px;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
	border-radius: 1.25rem;
}

.card:hover .card-inner {
	background-color: rgba(173, 216, 230, 0.9);
	transform: rotateY(180deg);
}

.front .back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

.box {
	background-color: lightblue;
	width: 100%;
	height: 100%;
	border-radius: 1.25rem;
	border-style: solid;
	border-width: 0.2rem;
	position: absolute;
}

.box-title {
	padding: 5%;
	font-size: 3.2vw;
	text-align: center;
	word-wrap: break-word;
}

.motivation-box-title {
	padding: 8%;
	font-size: 3vw;
	text-align: center;
	word-wrap: break-word;
}

.motivation-backside {
	padding: 10% 15%;
	font-size: 2vw;
}

.section-desc {
	display: block;
	padding: 0.5vw 1.5vw;
	font-size: 1.5vw;
	text-align: left;
	max-height: fit-content;
	max-height: -moz-fit-content;
}

/* .box:hover {
	transform: rotate(0deg) skew(0deg) translate(0, -1rem);
	background-color: rgba(173, 216, 230, 0.9);
} */

.box-dropshadow {
	box-shadow: 0rem 1rem rgb(0, 0, 0, 0.1);
}

.back-description {
	padding: 10% 10% 10% 15%;
	font-size: 1.75vw;
}

/* .click-button {
	position: relative;
	bottom: -1.5rem;
	text-align: center;
} */

/* .button-text {
	padding: 1rem;
	border-radius: 1rem;
	border-style: none;
	background-color: rgba(228, 228, 228, 0.75);
	font-size: 1.75rem;
	cursor: pointer;
} */

/* .button-text:hover {
	background-color: rgba(228, 228, 228);
} */

/* ========================================================================== */
/*  FOOTER
/* ========================================================================== */

footer {
	bottom: 0;
	background-color: lightblue;
	padding-bottom: 20px;
	position: absolute;
	width: 100%;
	height: 15vh;
	bottom: 0;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}
.contact-us {
	justify-content: center;
	display: flex;
	margin: 2rem;
}

.social-menu ul {
	padding: 0;
	justify-content: center;
	display: flex;
}
.social-menu ul li {
	list-style: none;
}

#twit {
	margin-left: 20px;
	margin-right: 20px;
}

.social-menu ul li a {
	position: relative;
	display: block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	text-align: center;
	transition: 0.5s;
	transform: translate(0, 0rem);
	box-shadow: 0rem 0.7rem 0.5rem rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
	transform: rotate(0deg) skew(0deg) translate(0, -1rem);
}
.social-menu ul li:nth-child(1) a:hover {
	background-color: #3b5999;
	opacity: 50%;
}
.social-menu ul li:nth-child(2) a:hover {
	background-color: #55acee;
	opacity: 50%;
}
.social-menu ul li:nth-child(3) a:hover {
	background-color: #e4405f;
	opacity: 50%;
}

.social-icon {
	height: 4rem;
	width: 4rem;
}

@media (max-width: 768px) {
	.box-title {
		font-size: 3rem;
	}
}
