/*
 * Authors: Andy Liang, Marvin Wu 
 * Implementation Dates: May 7 - May 8, 2021
 * Purpose: To provide helpful study tips, as well as a burst of motivation to students who may want it!
 */
:root {
	--primary: rgba(71, 126, 255);
	--secondary: rgb(203, 217, 252);
	--dark: #212121;
	--light: #f3f3f3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

header {
	display: flex;
	height: 10vh;
	background-color: rgb(0, 0, 0);

	width: 100%;
	margin: auto;
	align-items: center;
}

.big-website-name {
	margin: 10%;
	font-size: 3vw;
}

.logo-container,
.nav-links {
	display: flex;
}

.logo-container {
	padding-left: 1;
	color: rgb(255, 255, 255);
	flex: 1;
}

nav {
	flex: 2;
}

.nav-links {
	justify-content: space-around;
	list-style: none;
}

.nav-link {
	color: #ffffff97; /* #5f5f79 */
	font-size: 1.8rem;
	text-decoration: none;
	padding: 12px;
	cursor: pointer;
}

.nav-link:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

/* ========================================================================== */
/*  MAIN
/* ========================================================================== */

main {
	background-image: url(img/UBC.jpg);
	background-size: cover;
	width: 100%;
	height: 82vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.card-1 {
	width: 40%;
	height: 90%;
	background-image: linear-gradient(
		to bottom right,
		var(--primary),
		var(--secondary)
	);
	border-radius: 1.6rem;
	position: relative;
}

.title {
	text-align: center;
	margin: 1rem;
	color: #fff;
	font-size: 2.75vw;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-decoration: underline;
	text-decoration-thickness: 0.15vw;
}

.duration-explainer {
	display: flex;
	justify-content: space-around;
	margin: 1rem;
	color: #fff;
}

.option-1,
.option-2,
.option-3 {
	height: 24.5%;
	display: flex;
}

.option-1:hover,
.option-2:hover,
.option-3:hover {
	opacity: 80%;
	cursor: pointer;
}

.option-1_5,
.option-2_5 {
	height: 2%;
}

.study-box {
	background: #f6f6f2ba;
}
.study-icon,
.break-icon {
	height: 10rem;
	width: 10rem;
	opacity: 20%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.study-duration,
.break-duration {
	font-size: 1vw;
}

.study-time,
.break-time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	font-size: 1.8vw;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	width: 100%;
	text-align: center;
}

.break-box {
	background: lightblue;
	opacity: 80%;
}

.fourty-five,
.fifteen,
.fifty,
.ten,
.custom-1,
.custom-2 {
	width: 50%;
	position: relative;
}

.custom-text {
	font-size: 4vw;
}

.pop-out-container {
	display: none;
	border: border-box;
	border-color: black;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
}

#pop-out-box {
	background-color: red;
	width: 60%;
	height: 60%;
}

/* ========================================================================== */
/*  FOOTER
/* ========================================================================== */

footer {
	background: black;
	bottom: 0;
	padding-bottom: 0px;
	position: absolute;
	width: 100%;
	height: 8vh;
	justify-content: space-between;
	align-items: center;
}
.contact-us {
	justify-content: center;
	display: flex;
	margin: 2rem;
}

.social-menu ul {
	padding: 1rem;
	justify-content: center;
	display: flex;
}
.social-menu ul li {
	list-style: none;
}

#twit {
	margin-left: 20px;
	margin-right: 20px;
}

.social-menu ul li a {
	position: relative;
	display: block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	text-align: center;
	transition: 0.5s;
	transform: translate(0, 0rem);
	box-shadow: 0rem 0.7rem 0.5rem rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
	transform: rotate(0deg) skew(0deg) translate(0, -1rem);
}
.social-menu ul li:nth-child(1) a:hover {
	background-color: #3b5999;
	opacity: 50%;
}
.social-menu ul li:nth-child(2) a:hover {
	background-color: #83acff;
	opacity: 50%;
}
.social-menu ul li:nth-child(3) a:hover {
	background-color: #e4405f;
	opacity: 50%;
}

.social-icon {
	height: 4rem;
	width: 4rem;
}

@media (max-width: 768px) {
	/* 768 */
	.box-title {
		font-size: 3rem;
	}
	.card__face--front h2 {
		text-align: center;
		color: #fff;
		font-size: 3.2vw;
		padding: 10%;
	}
	.section-desc {
		font-size: 2vw;
	}
}

@media (max-width: 700px) {
	/* 768 */
	.box-title {
		font-size: 3rem;
	}
	.card__face--front h2 {
		text-align: center;
		color: #fff;
		font-size: 3vw;
		padding: 10%;
	}

	.section-desc {
		font-size: 2vw;
	}
}
